{
	"extends": [
		"standard",
		"plugin:jest/recommended",
		"plugin:import/recommended",
		"plugin:n/recommended",
		"plugin:prettier/recommended",
		"plugin:promise/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 2018
	},
	"globals": {
		"define": "readonly"
	},
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"jest/globals": true
	},
	"rules": {
		"jest/no-done-callback": "off"
	}
}
