{
	"extends": ["standard", "prettier", "prettier/standard"],
	"parserOptions": {
		"ecmaVersion": 2018
	},
	"globals": {
		"define": "readonly"
	},
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"jest/globals": true
	},
	"plugins": ["prettier", "standard", "jest"],
	"rules": {
		"space-before-function-paren": 0,
		"new-cap": 0,
		"prettier/prettier": 2,
		"jest/no-disabled-tests": 1,
		"jest/no-focused-tests": 2,
		"jest/no-identical-title": 2,
		"jest/prefer-to-have-length": 1,
		"jest/valid-expect": 2
	}
}
