{
	"repositoryUrl": "git@github.com:kelektiv/node-cron.git",
	"branches": [
		"main",
		{
			"name": "beta",
			"prerelease": true
		},
		"+([0-9])?(.{+([0-9]),x}).x"
	],
	"tagFormat": "v${version}",
	"plugins": [
		[
			"@semantic-release/commit-analyzer",
			{
				"config": "@insurgent/conventional-changelog-preset",
				"releaseRules": "@insurgent/conventional-changelog-preset/release-rules"
			}
		],
		[
			"@semantic-release/release-notes-generator",
			{
				"config": "@insurgent/conventional-changelog-preset"
			}
		],
		"@semantic-release/npm",
		[
			"@semantic-release/changelog",
			{
				"changelogFile": "CHANGELOG.md"
			}
		],
		[
			"@semantic-release/git",
			{
				"assets": [
					"CHANGELOG.md",
					"package.json",
					"package-lock.json"
				],
				"message": "Release v${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
			}
		],
		"@semantic-release/github"
	]
}
