name: Release

on:
  push:
    branches:
      - main
      - beta
      - '+([0-9])?(.{+([0-9]),x}).x'

jobs:
  test:
    uses: ./.github/workflows/test.yml

  release:
    needs: test

    runs-on: ubuntu-latest

    # using trusted publishing. see https://docs.npmjs.com/trusted-publishers
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Generate token
        id: get_workflow_token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.NODE_CRON_RELEASE_APP_ID }}
          private-key: ${{ secrets.NODE_CRON_RELEASE_APP_PRIVATE_KEY }}

      - name: Checkout project
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: ${{ steps.get_workflow_token.outputs.token }}

      - name: Use Node.js LTS
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 'lts/*'
          cache: npm

      - name: Install packages
        run: npm ci

      - name: Audit npm signatures
        run: npm audit signatures

      - name: Build project
        run: npm run build

      - name: Run Semantic Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ steps.get_workflow_token.outputs.token }}
          HUSKY: 0
