name: Test & Release

on:
  push:
    branches:
      - main
      - beta
      - '+([0-9])?(.{+([0-9]),x}).x'

jobs:
  lint-and-test:
    uses: ./.github/workflows/test.yml
    secrets: inherit

  release:
    needs: lint-and-test

    runs-on: ubuntu-latest
    env:
      node-version: 20.x

    steps:
      - name: Checkout project
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          persist-credentials: false
      - name: Use Node.js ${{ env.node-version }}
        uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 # v3
        with:
          node-version: ${{ env.node-version }}
      - name: Install packages
        run: npm ci
      - name: Build project
        run: npm run build
      - name: Run Semantic Release
        run: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
