name: Lint & Test

on:
  workflow_call:
  pull_request:
    branches:
      - main
      - beta
      - '+([0-9])?(.{+([0-9]),x}).x'

jobs:
  lint-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [14.x, 16.x, 18.x]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout project
        uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - name: Upgrade NPM
        run: npm install -g npm
      - name: Install packages
        run: npm ci
      - name: Build project
        run: npm run build
      - name: Check codestyle compliance
        run: npm run lint
      - name: Run tests
        run: npm run test
